body {
	/* 字体 */
	--font-interface-override: '微软雅黑';
	--font-text-override: 'HarmonyOS Sans SC';
	--font-print-override: '宋体';
	--font-monospace-override: 'JetBrains Mono NL';


	/* Blockquotes */
	--blockquote-border-thickness: 4px;
	--blockquote-border-color: var(--blockquote-border-color-custom);

	/* Checkboxes */
	--checkbox-marker-color: white; /* 复选框中的 √ */
	--checkbox-color: rgb(0, 117, 255);
	--checkbox-color-hover: var(--checkbox-color);
	/* Code */
	--code-size: 0.9em;
	--code-background: #1e1e1e; /* 行内代码和代码块的背景颜色 */
	--code-comment: var(--vsc-comment);
	--code-keyword: var(--vsc-keyword);
	--code-operator: var(--vsc-operator);
	--code-property: var(--vsc-property);	/* 不显示颜色，是编译器的问题*/
	--code-string: var(--vsc-string);
	--code-tag: var(--vsc-tag);
	--code-value: var(--vsc-atom);
	--code-function: var(--vsc-def);
	/* 标题 */
	--h5-size: 1.15em;
	--h6-size: 1.1em;
	/* 链接 */
	@media (prefers-color-scheme: light) {
		--link-color: #0969da;
	}
	@media (prefers-color-scheme: dark) {
		--link-color: #4ba8f8;
	}
	--link-color-hover: var(--link-color);
	--link-decoration: none;
	/* 外部链接 */
	--link-external-color: var(--link-color);
	--link-external-color-hover: var(--link-color);
	--link-external-decoration: none;
	/* 链接的文件不存在 */
	--link-unresolved-color: var(--link-color);
	--link-unresolved-decoration-color: red;
	/* 表格 */
	--table-border-color: var(--blockquote-border-color);
	/* 光标 */
	--cursor-color-blockquote: #adaeac;

	// Ctrl+F、Ctrl+Shift+F，高亮匹配的搜索结果
	--highlight-mix-blend-mode: normal !important;
	--text-highlight-bg: #ffff00;

	/* 行高 */
	//--line-height-normal: 2;
}
