/* 无法加载本地文件，路径问题？ */
@font-face {
	font-family: "JetBrains Mono";
	font-weight: normal;
	font-style: normal;
	src: url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2");
}



