
.cm-s-obsidian {
	/* 内联代码 */
	span.cm-inline-code {
		background-color: var(--inline-code-background-color);
		border: 1px solid var(--inline-code-border-color);
		border-radius: 3px;
		padding: 1px;
		font-size: calc(var(--font-text-size) - 4px);
	}
	/* 代码块 开始*/
	div.HyperMD-codeblock-begin-bg {
		background-color: #343541;
	}
	/* 代码块 结束*/
	div.HyperMD-codeblock-end {
		height: 10px;
	}
}
/* 代码块语言提示 */
.markdown-source-view.mod-cm6 .code-block-flair {
	top: 0;
	color: #d9d9e3;
}

/* 代码块 */
.cm-hmd-codeblock {

	color: white;

	&.cm-keyword {
		color: #C586C0;
	}
	&.cm-atom {
		color: #CE9178;
	}
	&.cm-string {
		color: #CE9178;
	}
	&.cm-string-2 {
		color: #CE9178;
	}
	&.cm-number {
		color: #DCDCAA;
	}
	&.cm-qualifier {
		color: #DCDCAA;
	}
	&.cm-builtin {
		color: #DCDCAA;
	}
	&.cm-bracket {
		color: var(--vsc-bracket);
	}
	&.cm-def {
		color: #DCDCAA;
	}
	&.cm-variable {
		color: #9CDCFE;
	}
	&.cm-variable-2 {
		color: #9CDCFE;
	}
	&.cm-variable-3 {
		color: #d7ba7d;
	}
	&.cm-property {
		color: #9CDCFE;
	}
	&.cm-attribute {
		color: #9CDCFE;
	}
	&.cm-operator {
		color: #D4D4D4;
	}
	&.cm-meta {
		color: #D4D4D4;
	}
	&.cm-hr {
		color: #D4D4D4;
	}
	&.cm-comment {
		color: #6A9955;
	}
	&.cm-quote {
		color: #6A9955;
	}
	&.cm-tag {
		color: #569CD6;
	}
	&.cm-link {
		color: #569CD6;
	}
	// diff 语言
	&.cm-negative {
		color: #F44747;
		background-color: #400600;
	}
	// diff 语言
	&.cm-positive {
		color: #B5CEA8;
		background-color: #074420;
	}
	&.cm-type {
		color: var(--vsc-type);
	}
}


