// 编译并监视
// sass --watch theme.scss E:\backup\文档\.obsidian\themes\my-theme\theme.css --no-source-map
@import "vsc-scheme";

/*日间和夜间*/
@import "body-scheme";

/*日间*/
@import "light-theme";
/*夜间*/
@import "dark-theme";

/* 阅读模式 */
@import "read-mode";

/* 实时预览 */
@import "live-preview";

.external-link {

	/* 行内代码上的外部链接 阅读模式*/
	code{
		color: var(--link-external-color);
	}
}

/* 光标 代码块上的*/
.markdown-source-view.mod-cm6 .cm-content {
	caret-color: #adaeac;
}

/* 大纲  */
.quiet-outline {
	// 标题内联代码
	code {
		margin: 1px 0;
		background-color: var(--inline-code-outline-background-color);
		border-radius: 3px;
		border: 1px solid var(--inline-code-outline-border-color);
		padding: 2px;
	}
}

/* 大纲 当前所在标题*/
.n-tree-node.located p {
	background-color: var(--outline-current-title-background-color);
}


