// 编译并监视
// sass --watch theme.scss E:\backup\常用文档\.obsidian\themes\my-theme\theme.css --no-source-map

/*日间和夜间*/
body {
	/* visual studio code dark plus 配色 */
	--vsc-keyword: #c586c0; /*关键字*/
	--vsc-atom: #ce9178; /*原子类型*/
	--vsc-string: var(--vsc-atom);
	--vsc-var: #9cdcfe;
	--vsc-property: var(--vsc-var);
	--vsc-attribute: var(--vsc-var);
	--vsc-number: #dcdcaa; /*数字*/
	--vsc-qualifier: var(
		--vsc-number
	); /*限定符（public、private、protected、static、final、const）*/
	--vsc-builtin: var(--vsc-number); /*内建*/
	--vsc-bracket: var(--vsc-number); /*括号*/
	--vsc-header: var(--vsc-number);
	--vsc-def: var(--vsc-number); /*函数声明*/
	--vsc-operator: #d4d4d4; /*操作符*/
	--vsc-meta: var(
		--vsc-operator
	); /*元信息，例如编程语言的特殊指令、注释或其他非代码的辅助性文本。*/
	--vsc-hr: var(--vsc-operator);
	--vsc-comment: #6a9955; /*注释*/
	--vsc-quote: var(--vsc-comment);
	--vsc-tag: #569cd6; /*tag: 标签元素*/
	--vsc-link: var(--vsc-tag);
	--vsc-negative: #f44747;
	--vsc-positive: #b5cea8;
	/* 字体 */
	--font-text-theme: "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica,
		Arial, "Segoe UI Emoji", sans-serif;

	/* Blockquotes */
	--blockquote-border-thickness: 4px;
	--blockquote-border-color: var(--blockquote-border-color-custom);

	/* Checkboxes */
	--checkbox-marker-color: white; /* 复选框中的 √ */
	--checkbox-color: rgb(0, 117, 255);
	--checkbox-color-hover: var(--checkbox-color);
	/* Code */
	--code-size: 0.9em;
	--code-background: #1e1e1e; /* 行内代码和代码块的背景颜色 */
	--code-comment: var(--vsc-comment);
	--code-keyword: var(--vsc-keyword);
	--code-operator: var(--vsc-operator);
	--code-property: var(--vsc-property);	/* 不显示颜色，是编译器的问题*/
	--code-string: var(--vsc-string);
	--code-tag: var(--vsc-tag);
	--code-value: var(--vsc-atom);
	--code-function: var(--vsc-def);
	/* 标题 */
	--h5-size: 1.15em;
	--h6-size: 1.1em;
	/* 链接 */
	--link-color: #4183C4;
	--link-color-hover: var(--link-color);
	--link-decoration: none;
	/* 外部链接 */
	--link-external-color: var(--link-color);
	--link-external-color-hover: var(--link-color);
	--link-external-decoration: none;
	/* 链接的文件不存在 */
	--link-unresolved-color: var(--link-color);
	--link-unresolved-decoration-color: red;
	/* 表格 */
	--table-border-color: var(--blockquote-border-color);
	/* 光标 */
	--cursor-color-blockquote: #adaeac;

}
/*日间*/
.theme-light {
	/* 工具栏、标签页、设置页右边部分*/
	--background-primary: white;
	/* 左侧边栏、右侧边栏、设置中的左边部分*/
	--background-secondary: #fafafa;
	/* 选中文本时的背景颜色 */
	--text-selection: #0e6bdd91;
	/* 引用 */
	--blockquote-border-color-custom: #dfe2e5;

	/* 行内代码 */
	--inline-code-border-color: #e7eaed;
	--inline-code-background-color: #f3f4f4;
	/* 大纲 */
	--inline-code-outline-background-color: var(--background-secondary);
	--inline-code-outline-border-color: #808080b3;
	--outline-current-title-background-color: #e7e7e7;
}
/*夜间*/
.theme-dark {
	/* 工具栏、标签页、设置页右边部分*/
	--background-primary: #444654;
	/* 左侧边栏、右侧边栏、设置中的左边部分*/
	--background-secondary: #202123;
	/* 选中文本时的背景颜色 */
	--text-selection: #0e6bdd91;

	--blockquote-border-color-custom: #aaaaaa80;
	/* 行内代码 */
	--inline-code-border-color: #e7eaed4a;
	--inline-code-background-color: #77777730;
	/* 大纲 */
	--inline-code-outline-background-color: var(--background-primary);
	--inline-code-outline-border-color: #808080b3;
	--outline-current-title-background-color: #313233;
}
/* 行内代码 实时预览 */
.cm-s-obsidian span.cm-inline-code {
	background-color: var(--inline-code-background-color);
	border: 1px solid var(--inline-code-border-color);
	border-radius: 3px;
	padding: 2px;
}
/* 行内代码 阅读模式 */
.markdown-rendered code {
	background-color: var(--inline-code-background-color);
	border: 1px solid var(--inline-code-outline-border-color);
	border-radius: 3px;
	padding: 2px;
}

/*代码块*/
.cm-hmd-codeblock {
	color: var(--vsc-bracket);

	&.cm-keyword {
		color: #C586C0;
	}
	&.cm-atom {
		color: #CE9178;
	}
	&.cm-string {
		color: #CE9178;
	}
	&.cm-string-2 {
		color: #CE9178;
	}
	&.cm-number {
		color: #DCDCAA;
	}
	&.cm-qualifier {
		color: #DCDCAA;
	}
	&.cm-builtin {
		color: #DCDCAA;
	}
	&.cm-bracket {
		color: #DCDCAA;
	}
	/* 会导致实时预览模式下标题变为黄色 */
	/*.cm-header {
        color: #DCDCAA;
    }*/
	&.cm-def {
		color: #DCDCAA;
	}
	&.cm-variable {
		color: #9CDCFE;
	}
	&.cm-variable-2 {
		color: #9CDCFE;
	}
	&.cm-variable-3 {
		color: #d7ba7d;
	}
	&.cm-property {
		color: #9CDCFE;
	}
	&.cm-attribute {
		color: #9CDCFE;
	}
	&.cm-operator {
		color: #D4D4D4;
	}
	&.cm-meta {
		color: #D4D4D4;
	}
	&.cm-hr {
		color: #D4D4D4;
	}
	&.cm-comment {
		color: #6A9955;
	}
	&.cm-quote {
		color: #6A9955;
	}
	&.cm-tag {
		color: #569CD6;
	}
	&.cm-link {
		color: #569CD6;
	}
	&.cm-negative {
		color: #F44747;
	}
	&.cm-positive {
		color: #B5CEA8;
	}
}

/* 代码块 阅读模式 */
.token.attr-value {
	color: var(--vsc-string);
}
.token.attr-name {
	color: var(--vsc-attribute);
}

/* 行内代码上的外部链接 阅读模式*/
.external-link code{
	color: var(--link-external-color);
}

/* 大纲 标题内联代码 */
.quiet-outline code {
	margin: 1px 0;
	background-color: var(--inline-code-outline-background-color);
	border-radius: 3px;
	border: 1px solid var(--inline-code-outline-border-color);
	padding: 2px;
}
/* 大纲 当前所在标题*/
.n-tree-node.located p {
	background-color: var(--outline-current-title-background-color);
}

/* 光标 代码块上的*/
.markdown-source-view.mod-cm6 .cm-content {
	caret-color: #adaeac;
}
